.PicInfo {
  display: flex;
  margin: 1em; 
  font-size: small;
}

.pic4Info{
  width: 65em;
  height: 15em;
  border-radius: 15%;
  overflow: hidden;
  justify-content: center;
  align-items: center; 
  object-fit: cover;
  margin: 2em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}